
// Light green: #7ed56f
// Medium green: #55c57a
// Dark green: #28b485
// Pink: #FF416C;
// Orange: #FF4B2B;
// Pink 2: rgba(255, 29, 82, 0.8), 
// Blue: rgba(2, 122, 143, 0.8),
// Lime: rgba(0, 255, 115, 0.8), 


//COLORS 

$color-gray: #777;
$color-black: #000;
$color-white: #fff;
$color-pink: #ff1d52;
$color-blue: #027a8f;
$color-green: #26c46d;

//GRID

$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;